

<div class="container">
<div class="row">
  <div class="col-md-6">
    <h2>Eat da Burger!</h2>


  {{#each burgers_data}}
  {{#unless this.devoured}}

    <li> {{this.id}} {{this.burger_name}} 
      <form class="devoured-form"> <input type="hidden" class="burger_id" value={{this.id}}>
      <button type="button" class="btn btn-info">Devoured It!</button></form>
      </li>

      {{/unless}}
  {{/each}}
  </div>



  <div class="col-md-6">
    
  
<h2>Devoured It!</h2>
<li>
  {{#each burgers_data}}
  {{#if this.devoured}}
 
    
     {{this.id}} {{ this.burger_name}}
     {{/if}}
    
  {{/each}}
</li>
</div>
</div>
</div>
 
<div class="form-group">

<form class="create-form" action="/burgers/create" method="POST">
    <label for="bu"></label>
    <input type="text" id="bu" name="burger_name" value="">
    <p>Enter the burger you would like to eat</p> 
 
  <button type="submit">Submit</button>
</form>
 </div>