

<div class="container">
  <div class="row">
    <div class="col-md-6">

    <h3>Waiting to be Devoured</h3><br>

  {{#each burgers}}
  {{#unless devoured}}
     {{this.id}}. {{ this.burger_name}} 
      
       <button type="button" class="devoured btn btn-primary"  data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour It!</button>
      <br><br>
  {{/unless}}
  {{/each}}

</div>
 

<div class="col-md-6">
 <h3>Devoured Burgers</h3> <br>  

  {{#each burgers}}
  {{#if devoured}}
 
    {{this.id}}. {{ this.burger_name}} <br>

  {{/if}}
  {{/each}}

    </div>
  </div>
</div><br><br>


<form class="create-form">
  <div class="form-group">

    <label for="addburger" ></label>
    <input type="text" id="addburger" name="burger" value=""><br>
    <p>Enter the burger you would like to eat</p> 
 
  <button type="submit" id="addNewBurger">Submit</button>
   </div>
</form>
